    /* ------------ Google fonts ------------ */ /* APACHE LICENSE 2.0 ! */

        /* fallback */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
        }
		
		.dark {
			background-color: #000;
			color: #fff;
			padding: 20px;
		}

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: inherit;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }

        /* ------------ */

        #materialTankContainer {
            font-family: var(--jqx-material-font-family);
            line-height: 24px;
            font-size: 13px;
           margin: 5% 10%;
            padding-top: 50px;
        }
#materialTankContainer section h2 {
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 30px;
		color: #764ebe;
	}
            #materialTankContainer section h2 {
                font-weight: 400;
                font-size: 24px;
                line-height: 40px;
                margin-bottom: 30px;
                color: #3949ab;
            }

            #materialTankContainer section:first-of-type h2 {
                font-size: 34px;
                border-top: initial;
            }

            #materialTankContainer section:first-of-type div h2 {
                font-size: 20px;
            }

            #materialTankContainer section {
                margin-top: 80px;
            }

                #materialTankContainer section:first-of-type {
                    margin-top: 0;
                }

                #materialTankContainer section div h2 {
                    color: #212121;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 32px;
                    margin-bottom: 30px;
                    max-width: 940px;
                }

            #materialTankContainer nav {
                display: block;
                border-left: 5px #3949ab solid;
                padding-left: 20px;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                -webkit-font-smoothing: antialiased;
                font: inherit;
                margin-top: 60px;
            }

                #materialTankContainer nav ul {
                    list-style: none;
                    margin-top: 0;
                    padding-left: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    vertical-align: baseline;
                    display: block;
                    list-style-type: disc;
                }

                #materialTankContainer nav li {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                    font-size: 20px;
                    line-height: 40px;
                }

                    #materialTankContainer nav li a {
                        text-decoration: none;
                    }

                #materialTankContainer nav h2 {
                    font-size: 15px;
                    line-height: 16px;
                    padding-bottom: 12px;
                    font-weight: 400;
                    color: #757575;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    vertical-align: baseline;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                }

        .module {
            width: calc(100% / 4);
            display: inline-block;
            font: inherit;
            margin-right: 40px;
            min-width: 355px;
            vertical-align: top;
        }

            .module h3 {
                font-size: 13px;
            }

            .module p {
                margin-bottom: 20px;
            }

            .module img {
                width: 100%;
            }

            .module h2 {
                font-weight: 400;
            }

        #materialTankContainer #tankUsage .module:nth-child(2),
        #materialTankContainer #tankUsage .module:nth-child(2) {
            display: block;
        }

        #materialTankContainer #tankUsage .module h3,
        #materialTankContainer #discreteTanks .module h3 {
            font-weight: 400;
            font-size: 16px;
        }

        #materialTankContainer #continuousTanks .continuousTankLightTheme,
        #materialTankContainer #continuousTanks .continuousTankDarkTheme,
        #materialTankContainer #discreteTanks .discreteTankLightTheme,
        #materialTankContainer #discreteTanks .discreteTankDarkTheme,
        #materialTankContainer #scaleTanks .scaleTank,
        #materialTankContainer #scaleTanks .discreteScaleSlider {
            width: calc(100% / 2 + 45px);
            margin-top: 50px;
            margin-bottom: 80px;
        }
@media only screen and (max-width: 420px) {
     #materialTankContainer #continuousTanks .continuousTankLightTheme,
        #materialTankContainer #continuousTanks .continuousTankDarkTheme,
        #materialTankContainer #discreteTanks .discreteTankLightTheme,
        #materialTankContainer #discreteTanks .discreteTankDarkTheme,
        #materialTankContainer #scaleTanks .scaleTank, .module,
        #materialTankContainer #scaleTanks .discreteScaleSlider {
            width: calc(100% / 2);
			    min-width: 98%;
		}
}
        #materialTankContainer #continuousTanks .module:first-of-type,
        #materialTankContainer #discreteTanks .module:first-of-type {
            
        }

        #materialTankContainer #continuousTanks .module:nth-child(2),
        #materialTankContainer #discreteTanks .module:nth-child(2) {
            display: block;
        }

        #materialTankContainer #continuousTanks .continuousTankDarkTheme,
        #materialTankContainer #discreteTanks .discreteTankDarkTheme {
            background-color: #000;
        }

        #materialTankContainer .continuousTankLightTheme table,
        #materialTankContainer .continuousTankDarkTheme table,
        #materialTankContainer .discreteTankLightTheme table,
        #materialTankContainer .discreteTankDarkTheme table {
            width: 100%;
            height: 100%;
            padding: 50px;
        }

        #materialTankContainer .continuousTankLightTheme table,
        #materialTankContainer .discreteTankLightTheme table {
            background-color: #EEEEEE;
        }
        #materialTankContainer .continuousTankDarkTheme table,
        #materialTankContainer .discreteTankDarkTheme table {
            color: white;
            background-color: #000;
        }

        #materialTankContainer #continuousTanks .module:nth-child(3),
        #materialTankContainer #continuousTanks .module:nth-child(5),
        #materialTankContainer #discreteTanks .module:nth-child(3) {
            margin-top: 50px;
        }

        #materialTankContainer #continuousTanks .module:first-of-type,
        #materialTankContainer #discreteTanks .module:first-of-type {
            
        }

        #materialTankContainer #discreteTanks h2:first-of-type,
        #materialTankContainer #scaleTanks h2:first-of-type,
        #materialTankContainer #verticalTanks h2:first-of-type,
        #materialTankContainer #demoTank h2:first-of-type {
            border-top: 1px solid rgba(0,0,0,.12);
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 30px;
            color: #3949ab;
            padding-top: 80px;
            
        }

        #materialTankContainer #scaleTanks .scaleTank,
        #materialTankContainer #scaleTanks .discreteScaleSlider {
            height: 200px;
            margin-top: initial;
        }

        #scaleTanks .scaleTank > div,
        #scaleTanks .discreteScaleSlider > div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        #materialTankContainer #verticalTanks jqx-tank {
            --jqx-tank-default-height: 200px;
        }

        #materialTankContainer #verticalTanks .module:nth-of-type(2) > div,
        #materialTankContainer #verticalTanks .module:nth-of-type(3) > div {
            display: flex;
            justify-content: space-around;
            align-content: center;
            background-color: #EEEEEE;
            padding: 20px;
            height: 225px;
        }

        #materialTankContainer #verticalTanks .module:nth-of-type(3) jqx-tank:nth-of-type(2) {
            margin-top: 35px;
        }

        #materialTankContainer #demoTank .media-controls,
        #materialTankContainer #demoTank .power-controls {
            position: relative;
            color: #757575;
            background-image: url(https://htmlelements.com/demos/images/slider-controls.png);
            height: 650px;
            background-color: #EEEEEE;
            text-align: center;
            background-size: cover;
            background-position: center;
        }

            #materialTankContainer #demoTank .media-controls h2,
            #materialTankContainer #demoTank .power-controls h2 {
                color: black;
                margin-bottom: 20%;
                -webkit-margin-before: 0;
            }

            #materialTankContainer #demoTank .media-controls > div,
            #materialTankContainer #demoTank .power-controls > div {
                height: 70%;
                width: 82%;
                margin-top: 24%;
                margin-left: 9%;
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 25px;
				padding-right:0px;
                background-color: white;
            }

                #materialTankContainer #demoTank .media-controls > div > div,
                #materialTankContainer #demoTank .power-controls > div > div {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin-bottom: 3%;
                    width: 100%;
                }

                #materialTankContainer #demoTank .power-controls > div > div {
                    margin-bottom: 10%;
                }

            #materialTankContainer #demoTank .power-controls .controls {
                margin-top: 5%;
            }

        #materialTankContainer #demoTank .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        #materialTankContainer #demoTank .media-controls .material-icons,
        #materialTankContainer #demoTank .power-controls .material-icons {
            font-size: 50px;
        }

        #materialTankContainer #cpuTank .smart-value {
            background-color: #2396F1;
        }

        #materialTankContainer #powerSaverTank .smart-value {
            background-color: #0c9f59;
        }

        #materialTankContainer #cpuTank .bubble,
        #materialTankContainer #powerSaverTank .bubble {
            display: none;
        }

        #materialTankContainer #powerSaverTank .smart-thumb-label {
            color: black;
        }

        #materialTankContainer #powerSaverTank[value="0"] .smart-thumb-label {
            color: white;
        }