:root {
    --smart-file-upload-default-width: 300px; /* Default width of the smartFileUpload*/
    --smart-file-upload-default-height: 30px; /* Default height of the smartFileUpload*/
    --smart-file-upload-default-button-width: 100px; /* Default height of the smartFileUpload*/
    --smart-file-upload-footer-button-height: 25px; /* Default height of the smartFileUpload*/
    --smart-file-upload-text-content-uploading-start: "Connecting ..."; /* text content of smart-uploading-start::before */
    --smart-file-upload-text-content-uploading: "Uploading ..."; /* text content of smart-uploading::before */
    --smart-file-upload-text-content-error: "Upload error!"; /* text content of smart-error::before */
    --smart-file-upload-text-content-abort: "Upload aborted!"; /* text content of smart-abort::before */
    --smart-file-upload-text-content-drop-zone: "Drag files here"; /* text content of smart-drop-zone::after */
    --smart-file-upload-text-content-drop-zone-over: "Drop here \e824"; /* text content of smart-drop-zone::after on drag over */
}

smart-file-upload {
    display:inline-block;
    width: var(--smart-file-upload-default-width);
    font-size: var(--smart-font-size);
    font-family: var(--smart-font-family);
    overflow: hidden;
    box-sizing: border-box;
    border: var(--smart-border-width) dashed var(--smart-border-color);
    background-color:transparent;
}

smart-file-upload[disabled] {
    opacity: 0.55;
    cursor: default;
}

smart-file-upload[disabled] .smart-file-upload-container {
    pointer-events:none;
    user-select:none;
}

smart-file-upload .smart-file-upload-header,
smart-file-upload .smart-file-upload-container,
smart-file-upload .smart-file-upload-footer {
    padding:5px;
    width:100%;
    box-sizing:border-box;
}

smart-file-upload[hide-footer] .smart-file-upload-footer {
    display:none;
}

smart-file-upload .smart-browse-button {
    display:block;
    width: 85px;
    height: 35px;
}

smart-file-upload .smart-upload-all-button,
smart-file-upload .smart-cancel-all-button,
smart-file-upload .smart-abort-all-button {
    height:var(--smart-file-upload-footer-button-height);
}

smart-file-upload .smart-browse-input {
    display:none;
}

.smart-drop-zone {
    width:100%;
    height:100%;
    background-color: #f3f3f3;
    position:relative;
    box-sizing:border-box;
    border:lightgray dotted 1px;
}

.smart-drop-zone:after {
    font-family: 'smart-icons';
    overflow:hidden;
    text-overflow:ellipsis;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
    width:100%;
    text-align: center;
    content:var(--smart-file-upload-text-content-drop-zone);
    color:#b1b1b1;
    box-sizing:border-box;
    border:dashed 5px transparent;
    transition: border 0.5s ease-out;
}

.smart-drop-zone.smart-drag-over:after {
    content:var(--smart-file-upload-text-content-drop-zone-over);
    font-size:50px;
    border:dashed 3px #b1b1b1;
    transition: border 0.5s ease-out;
    animation: drop-zone 1s ease-in infinite;
}

@-webkit-keyframes drop-zone {
  0% {
    color:#b1b1b100;
  }
  50% {
    color:#b1b1b199;
  }
  100% {
    color:#b1b1b100;
  }
}

smart-file-upload .smart-drop-zone {
    display:none;
    width:100%;
    height:100px;
}

smart-file-upload[drop-zone] .smart-drop-zone {
    display:block;
}

.smart-selected-files {
    width:100%;
    height:100%;
    display:block;
    box-sizing:border-box;
    padding:2px;
}

.smart-selected-files .smart-file{
    height:auto;
    position:relative;
    display:block;
    box-sizing: border-box;
    border: lightgray solid 1px;
    padding:10px;
    border-radius:3px;
    margin-bottom:1px;
    background-color:#fafafa;
    transition: border-color 0.5s ease;
}

.smart-selected-files .smart-item-abort-button{
    display:none;
}

.smart-selected-files .smart-item-name,
.smart-selected-files .smart-item-upload-button,
.smart-selected-files .smart-item-cancel-button{
    display:inline-block;
    box-sizing:border-box;
    height:16px;
    position:relative;
}

.smart-selected-files .smart-item-name {
    width: calc(100% - 40px);
    overflow:hidden;
    text-overflow:ellipsis;
    height:auto;
}

.smart-selected-files .smart-item-upload-button,
.smart-selected-files .smart-item-cancel-button{
    display:inline-block;
    box-sizing:border-box;
    width: 16px;
    color:#999;
    transition: color 0.5s ease;
}

.smart-selected-files .smart-item-upload-button:hover,
.smart-selected-files .smart-item-cancel-button:hover{
    cursor: pointer;
    color:green;
    transition: color 0.5s ease;
}

.smart-selected-files .smart-item-cancel-button:hover{
    color:red;
}

.smart-selected-files .smart-item-upload-button:after,
.smart-selected-files .smart-item-cancel-button:after{
    font-family: 'smart-icons';
    content: '\e81E';
    position:absolute;
    left:0px;
    top:0px;
    font-size:16px;
    text-shadow: 2px 2px 2px lightgray;
}

.smart-selected-files .smart-item-cancel-button:after{
    content: '\e81C';
}

.smart-file.smart-uploading-start::before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'arial';
    display: block;
    content:var(--smart-file-upload-text-content-uploading-start);
    background-color: #c1c1c169;
    opacity:1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 11px;
    color: #737373;
    padding: 0px 0px 2px 5px;
    pointer-events:none;
    z-index:1;
    animation: connecting 1s linear infinite;
}

@-webkit-keyframes connecting  {
  0% {
    color: #73737350;
  }
  50% {
    color: #73737399;
  }
  100% {
    color: #73737350;
  }
}

.smart-file.smart-uploading::before{
    font-family: 'arial';
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    content:var(--smart-file-upload-text-content-uploading);
    width: 100%;
    height: 100%;
    background-color: #c1c1c169;
    opacity:1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 11px;
    color: #737373;
    padding: 0px 0px 2px 5px;
    pointer-events:none;
    z-index:1;
}

.smart-file.smart-uploading::after{
    font-family: 'smart-icons';
    position:absolute;
    left:0px;
    top:0px;
    content: '\e838';
    width:100%;
    height:100%;
    color:#00000052;
    display:flex;
    text-align:center;
    justify-content:center;
    align-content:center;
    flex-direction: column;
    font-size:30px;
    pointer-events:none;
    animation: rotating 1s linear infinite;
    z-index:2;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.smart-file.smart-abort::before{
    font-family: 'arial';
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    content:var(--smart-file-upload-text-content-abort);
    width: 100%;
    height: 100%;
    background-color: #ff000030;
    border-radius:3px;
    opacity:0.8;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 11px;
    color: #8a0000;
    padding: 0px 0px 2px 5px;
    pointer-events:none;
    z-index:1;
}

.smart-file.smart-error::before{
    font-family: 'arial';
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    content:var(--smart-file-upload-text-content-error);
    width: 100%;
    height: 100%;
    background-color: #ff000015;
    border-radius:3px;
    opacity:0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 11px;
    color: #8a0000;
    padding: 0px 0px 2px 5px;
    pointer-events:none;
    z-index:1;
    animation: error 6s linear 1;
}

@-webkit-keyframes error {
  0% {
    opacity:0.8;
    background-color: #ff000015;
  }
  3% {
    background-color: #ff000040;
  }
  6% {
    background-color: #ff000015;
  }
  9% {
    background-color: #ff000040;
  }
  12% {
    background-color: #ff000015;
  }
  80% {
    opacity:0.8;
  }
  100% {
    opacity:0;
  }
}


.smart-file.smart-uploading  .smart-item-upload-button{
    pointer-events:none;
}

.smart-selected-files .smart-uploading .smart-item-upload-button{
    opacity : 0.3;
}

.smart-file.smart-uploading .smart-item-name{
    opacity : 0.2;
    user-select:none;
}

.smart-selected-files .smart-uploading .smart-item-cancel-button{
    transition: color 0.5s, opacity 0.5s ease;
    color:#dc1919;
    opacity : 0.5;
}

.smart-selected-files .smart-uploading .smart-item-cancel-button:hover{
    transition: color 0.5s, opacity 0.5s ease;
    color:red;
    opacity : 1;
}

.smart-selected-files .smart-file:hover{
    transition: border-color 0.5s ease;
    border-color: gray;
}

.smart-file smart-progress-bar{
    display:none;
    width:100%;
    height:3px;
    position:absolute;
    bottom:0px;
    left:0px;
}

.smart-file smart-progress-bar .smart-container{
    border-style:none;
}

.smart-file smart-progress-bar .smart-value{
    background-color:orange;
}

smart-file-upload[show-progress] .smart-file smart-progress-bar{
    display:none;
}

smart-file-upload[show-progress] .smart-file smart-progress-bar[value]{
    display:block;
}

.smart-file.smart-error smart-progress-bar{
    opacity:0.3;
}
