/* ------------ Google fonts ------------ */ /* APACHE LICENSE 2.0 ! */

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
#materialGaugeContainer section h2 {
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 30px;
		color: #764ebe;
	}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/* ------------ */

#materialGaugeContainer {
	
	line-height: 24px;
	font-size: 13px;
	margin-left: 0;
	margin: 5% 10%;
	padding-top: 50px;
}

	#materialGaugeContainer section h1 {
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 30px;
		color: #3949ab;
	}

	#materialGaugeContainer section:first-of-type h1 {
		font-size: 34px;
	}

	#materialGaugeContainer section:first-of-type div h1 {
		font-size: 20px;
	}

	#materialGaugeContainer section {
		margin-top: 80px;
	}

		#materialGaugeContainer section:first-of-type {
			margin-top: 0;
		}

		#materialGaugeContainer section div h1 {
			color: #212121;
			font-size: 20px;
			font-weight: 400;
			line-height: 32px;
			margin-bottom: 30px;
			max-width: 940px;
		}

	#materialGaugeContainer nav {
		display: block;
		border-left: 5px #3949ab solid;
		padding-left: 20px;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-font-smoothing: antialiased;
		font: inherit;
		margin-top: 60px;
	}

		#materialGaugeContainer nav ul {
			list-style: none;
			margin-top: 0;
			padding-left: 0;
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			vertical-align: baseline;
			display: block;
			list-style-type: disc;
		}

		#materialGaugeContainer nav li {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			font-size: 20px;
			line-height: 40px;
		}

			#materialGaugeContainer nav li a {
				text-decoration: none;
			}

		#materialGaugeContainer nav h1 {
			font-size: 15px;
			line-height: 16px;
			padding-bottom: 12px;
			font-weight: 400;
			color: #757575;
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			vertical-align: baseline;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
		}

#gauge-discrete h1:first-of-type,
#gauge-scales h1:first-of-type,
#gauge-angles h1:first-of-type,
#gauge-demo h1:first-of-type {
	border-top: 1px solid rgba(0,0,0,.12);
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 30px;
	color: #3949ab;
	padding-top: 80px;
	width: calc(100% - 280px);
}

.module {
	width: calc(100% / 3);
	display: inline-block;
	font: inherit;
	margin-right: 40px;
	min-width: 355px;
	vertical-align: top;
}

	.module h3 {
		font-size: 13px;
	}

	.module p {
		margin-bottom: 20px;
	}

	.module img {
		width: 100%;
	}

	.module h2 {
		font-weight: 400;
	}

#overview .module {
	width: calc(100% / 4);
}

.light-background,
.dark-background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}

.light-background {
	background-color: #EEEEEE;
}

.dark-background {
	background-color: black;
}

#mobileDemo {
	position: relative;
	width: 360px;
	height: 640px;
	background-image: url(../images/volumebooster.png);
}

#mobileGauge {
	position: relative;
	top: 200px;
	left: 30px;
}

#mobileLabelsContainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 200px;
}

#silentLabel,
#normalLabel,
#maxLabel {
	border: 1px solid #1978CC;
	padding: 10px;
	width: 90px;
	color: #1978CC;
	font-size: 20px;
	text-align: center;
	user-select: none;
}

	#silentLabel.highlighted,
	#normalLabel.highlighted,
	#maxLabel.highlighted {
		color: white;
		background-color: #1978CC;
	}